<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dicom文件在线读取</title>
    <link rel="stylesheet" href="/static/CSS/dR.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="app">
        <p class="flex-title">DcmReader</p>
        <input type="file">
        


    </div>
    <script src="/static/js/axios/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

    <script>
        var uploadUrl = 'DcmReader/upload'; //设置上传路径
        const con = ({});
        const app =Vue.creatApp(con).mount('#app')

    </script>
</body>
</html>